/*import fonts from fonts.cs file*/
@import url(./fonts.css);

/* css variables */
/* @import url(/css/partials/_variables.css); */

/* global css */
/* @import url(./partials/_global.css); */

/* start variables */

html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


    /* font family variables */
    --press-start: 'Press Start 2P', cursive;
}

/* end variables */

/*Global Classes  */

.title-uppercase{
    text-transform: uppercase;
}

.title-text{
    font: normal 50px/ 92px var(--press-start);
}

/* Buttons */
.button{
    padding: 0.2rem 2.2rem;
    font: normal 500 15px/20px var(--press-start);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/25px var(--press-start);
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

/* start navigation */

.header_area .main-menu .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--press-start);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* Start Banner Area */

/* .site-main .site-banner {
    background: url(../img/banner.png) no-repeat 0% 50%;
} */

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span{
    display: block;
    font: normal 49px/60px var(--press-start);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph >p{
    padding: .4rem 0;
}

.site-main .about-area .about-title span{
    display: block;
}

/* End About Area */

/* Start Footer Area */

footer.footer-area{
    padding: 5rem 0;
    /* background: ; */
}

footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-aera .social a:hover > i{
    color: var(--primary-color);
}

/* End Footer Area */